*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
.container{

    width: 100%;
    height: 100vh;
    background-image: url("/Multimedia (1)/pexels-arthouse-studio-4338020\ \(2\).jpg");

    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height:12%;
    display: flex;
    align-items: center;

}
.logo{
    width: 50px;
    cursor: pointer;

}

.menu-icon{
    width: 38px;
    cursor:pointer;
    margin-left: 40px;

}


nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;;
}

nav ul li a{
    text-decoration: none;
    color: #ede8e8;
    font-size: 20px;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;

}
.col{
    flex-basis: 58%;

}
h1{
    color: #fff;
    font-size: 100px;

}

p{
    color: #fff;
    font-size: 11px;
    line-height: 15px ;
}

button {
    width: 180px;
    color: #000000;
    font-size: 12px;
    padding: 12px;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card{

    width: 600%;
    height: 630px ;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    max-width: 600px;
    max-height: 630px;
    cursor: pointer;
    margin: 10px  15px;
    background-image: url("/Multimedia (1)/Corolla2.jpg");
    background-position: center ;
    background-size: filled;
    


}
/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 0;
}

.dark-section {
    padding: 50px;
    text-align: center;
}

.card1 {
    background-color: darkcyan;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

